@using System.Diagnostics
@using PerformAspNetMcv.Controllers
@using PerformAspNetMcv.Tips;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Make Asp.Net Mvc great again</h2>
</div>


